<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css">
    <title>Register</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../images/logo-vicxi.png" alt="logo">
    </header>   
    <section class="login">
        <section class="login__container">
            <h2>Registrate</h2>
            <form class="login__container--form">
                <input class="input" type="text" placeholder="Nombre">
                <input class="input" type="text" placeholder="Correo">
                <input class="input" type="password" placeholder="Contrase&ntilde;a">
                <button class="button">Registrarme</button>
            </form>    
            <center><p class="reg__container--register"><a href="login.html">Iniciar sesion</a></p></center>
        </section>    
    </section>
    <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaracion de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>